/* google font script */
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

body {
    background-color: rgb(223, 223, 223);
    font-family: 'Coming Soon', sans-serif;
    font-weight: 300;
    color: black;
}

/* Heading */

.logo {
    display: block;
    height: 240px;
    width: 525px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    cursor: pointer;
}
  
.correct-score, #correct-number {
    font-size: 75px;
    margin: -120px 25px 10px 10px;
    text-align: left;
}

.incorrect-score, #incorrect-number {
    font-size: 75px;
    margin: -120px 25px 10px 10px;
    text-align: right;
}
  
/* Quiz Area - Questions, welcome and closing messages */
  
.quiz-area { 
    background-color: rgb(26, 26, 26);
    box-sizing: border-box;
    border: 16px solid rgb(117, 86, 45);
    width: 100%;
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 1%;
      
}
  
#welcome-message, #closing-message {
    margin: 95px 10px 290px 10px;
    text-align: center;
    font-size: 75px;
    color: white;
}
  
#question {
    margin: 75px 10px 0px 10px;
    text-align: center;
    font-size: 75px;
    color: white;
      
}
  
/* Quiz Area - Buttons for answers, start quiz and next question */
  
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    width: auto;
    margin: 130px 20px 40px 20px;
    font-size: 1.5rem;
}
  
#start-btn {
    font-size: 5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
}
  
#next-btn {
    font-size: 4rem;
    font-weight: bold;
    padding: 20px 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
}
  
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.btn {
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: white;
    border: 2px double rgb(117, 86, 45);
    border-radius: 8px;
    cursor: pointer;
    transition: 0.8s;
    margin-bottom: 40px;
}

/* Display option */
  
.hide {
    display: none;
}

/* Hover effect for start and next buttons */
  
.btn:hover {
    background-color: rgb(255, 123, 0);
}

@media (max-width: 2400px) {
    .logo {
        height: 140px;
        width: 320px;
        margin-bottom: 60px;
    }
      
    .correct-score, #correct-number {
        font-size: 45px;
        margin-top: -140px;
        margin-bottom: 50px;
    }

    .incorrect-score, #incorrect-number {
        font-size: 45px;
        margin-top: -120px;
    }
      
    .quiz-area { 
        border: 8px solid rgb(117, 86, 45);
        height: 75vh;
    }
    
    #welcome-message, #closing-message {
        margin: 65px 10px 60px 10px;
        font-size: 40px;
    }
      
    #question {
        margin: 50px 10px 0px 10px;
        font-size: 40px;
    }
      
    .btn-grid {
        margin: 60px 20px 20px 20px;
        font-size: 1.5rem;
    }
      
    #start-btn {
        font-size: 2.50rem;
        margin-top: 120px;
    }
      
    #next-btn {
        font-size: 1.75rem;
        padding: 10px 20px;
    }
      
    .btn {
        font-size: 30px;
        margin-bottom: 20px;
    }
}

@media (max-width: 1024px) {
    .quiz-area {
        height: 75vh;
        margin-top: 35px;
    }

    .correct-score, #correct-number {
        font-size: 35px;
        text-align: left;
        margin-top: -120px;
        margin-left: 10px;
        margin-bottom: -80px;
    }

    .incorrect-score, #incorrect-number {
        font-size: 35px;
        text-align: right;
        margin-top: 20px;
        margin-right: 5px;
        margin-bottom: -20px;
    }

    #welcome-message, #closing-message {
        margin: 65px 10px 60px 10px;
        font-size: 30px;
    }

    #start-btn {
        font-size: 2rem;
        margin-top: 90px;
    }

    #question {
        font-size: 30px;
        margin-top: 20px;
    }

    .btn {
        font-size: 25px;
        margin-bottom: 15px;
    }

    #next-btn {
        font-size: 1.75rem;
        padding: 10px 20px;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {

    .quiz-area {
        height: 75vh;
        margin-top: 55px;
    }

    .correct-score, #correct-number {
        font-size: 30px;
        margin-top: -120px;
        margin-left: 10px;
        margin-bottom: -80px;
    }

    .incorrect-score, #incorrect-number {
        font-size: 30px;
        margin-top: 30px;
        margin-right: 5px;
        margin-bottom: -20px;
    }

    #start-btn {
        font-size: 1.9rem;
        margin-top: 50px;
    }

    #next-btn {
        font-size: 1.6rem;
    }

    .btn-grid {
        margin: 30px 20px 20px 20px;
    }
}

@media (max-width: 635px) {
    .logo {
        height: 120px;
        width: 250px;
        margin-bottom: -5px;
    }

    .quiz-area {
        height: 75vh;
    }

    #correct-number, .correct-score {
        text-align: left;
        font-size: 25px;
        margin-top: -50px;
    }

    #incorrect-number, .incorrect-score {
        text-align: right;
        font-size: 25px;
        margin-top: 35px;
    }

    .score {
        margin-left: 30px;
    }

    #welcome-message, #closing-message {
        font-size: 27px;
        margin-top: 20px;
    }

    #start-btn {
        font-size: 1.8rem;
        margin-top: 30px;
    }

    #question {
        font-size: 27px;
        margin-top: 20px;
    }

    .btn {
        font-size: 25px;
        margin-bottom: 15px;
    }

    #next-btn {
        font-size: 1.5rem;
        padding: 10px 20px;
        margin-top: 15px;
    }
}

@media (max-width: 425px) {
    #correct-number, .correct-score {
        margin-top: 15px;
    }

    #incorrect-number, .incorrect-score {
        margin-top: 40px;
    }
}

@media (max-width: 375px) {
    #welcome-message, #closing-message {
        font-size: 20px;
    }

    #start-btn {
        font-size: 25px;
    }

    #question {
        font-size: 25px;
    }

    #next-btn {
        margin-top: 15px;
        font-size: 20px;
    }

    .btn {
        font-size: 25px;
        margin-bottom: 10px;
    }

}

@media (max-width: 320px) {
    .quiz-area {
        height: 70vh;
    }

    #start-btn {
        font-size: 20px;
        margin-top: 10px;
    }

    #question {
        font-size: 20px;
    }

    #next-btn {
        margin-top: 10px;
        font-size: 15px;
    }

    .btn-grid {
        margin-top: 20px;
    }

    .btn {
        font-size: 20px;
        margin-bottom: 5px;
    }
}