body {
    background-color: rgb(240, 240, 240);
    font-family: 'Open Sans', sans-serif;
    color: black;
}

/* Heading */

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name, .score {
    font-size: 35px;
}

.name {
    margin: -100px 10px 10px 25px;
}

.score {
    margin: -55px 25px 10px 10px;
    text-align: right;
}

/* Quiz Area */

.quiz-area { 
    background-color: rgb(50, 83, 50);
    box-sizing: border-box;
    width: 90%;
    height: 55vh;
    max-height: 550px;
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    padding: 1%;
    
}

.quiz-image {
    width: 50%;
    font-size: 2rem;
    margin: auto;
    padding: 20px 0;
}

.quiz-question {
    margin: 5px auto;
    height: 50%;
    width: 90%;
    font-size: 30px;
    color: white;
    float: left;
}

/* Quiz Answer */

.answer-a, .answer-b, .answer-c {
    width: 31.75%;
    height: 80px;
    border: 1px solid black;
    color: black;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 22px;
    margin-top: 60px;
    margin-right: 5px;
    margin-bottom: 20px;
    text-align: left;
    transition: 0.8s;
}

.answer-a {
    margin-left: 22px;
}

.answer-a:hover {
    background-color: rgb(0, 172, 37);
}

.answer-b:hover {
    background-color: white;
}

.answer-c:hover {
    background-color: rgb(255, 123, 0);

@media (max-width: 900px) {
    .name {
        margin: -70px 10px 10px 10px;
        text-align: center;
        line-height: 180px;
    }
    
    .score {
        margin: -50px 10px 10px 10px;
        text-align: center;
    }

    .answer-a, .answer-b, .answer-c  {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        float: none;
        margin-bottom: 30px;
    }

}